@import "tailwindcss";
@import "@fontsource-variable/inter";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(23.9% 0.0096 240.13);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(23.9% 0.0096 240.13);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(23.9% 0.0096 240.13);
  --color-primary: oklch(15.7% 0.0067 241.24);
  --color-primary-foreground: oklch(98% 0 0);
  --color-secondary: oklch(95.9% 0.0057 240.79);
  --color-secondary-foreground: oklch(15.7% 0.0067 241.24);
  --color-muted: oklch(95.9% 0.0057 240.79);
  --color-muted-foreground: oklch(58.2% 0.0033 240.13);
  --color-accent: oklch(95.9% 0.0057 240.79);
  --color-accent-foreground: oklch(15.7% 0.0067 241.24);
  --color-destructive: oklch(62.8% 0.2289 19.85);
  --color-destructive-foreground: oklch(98% 0 0);
  --color-border: oklch(89.8% 0.0054 240.72);
  --color-input: oklch(89.8% 0.0054 240.72);
  --color-ring: oklch(15.7% 0.0067 241.24);
  --radius: 0.5rem;
}

@theme dark {
  --color-background: oklch(6.9% 0.0088 240.13);
  --color-foreground: oklch(98% 0 0);
  --color-card: oklch(6.9% 0.0088 240.13);
  --color-card-foreground: oklch(98% 0 0);
  --color-popover: oklch(6.9% 0.0088 240.13);
  --color-popover-foreground: oklch(98% 0 0);
  --color-primary: oklch(98% 0 0);
  --color-primary-foreground: oklch(15.7% 0.0067 241.24);
  --color-secondary: oklch(20.5% 0.0034 240.13);
  --color-secondary-foreground: oklch(98% 0 0);
  --color-muted: oklch(20.5% 0.0034 240.13);
  --color-muted-foreground: oklch(69.8% 0.0036 240.13);
  --color-accent: oklch(20.5% 0.0034 240.13);
  --color-accent-foreground: oklch(98% 0 0);
  --color-destructive: oklch(48.2% 0.1785 19.85);
  --color-destructive-foreground: oklch(98% 0 0);
  --color-border: oklch(20.5% 0.0034 240.13);
  --color-input: oklch(20.5% 0.0034 240.13);
  --color-ring: oklch(83.1% 0.0046 240.13);
}
