---
import BaseHead from "../components/BaseHead.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<html lang="en">
  <BaseHead />
  <body class="w-full h-screen select-none dark:bg-nero">
    <div class="grid place-items-center h-full w-3/4 mx-auto">
      <main>
        {
          posts.map((post) => (
            <div class="text-xl border-b-2 dark:border-floral-white  text-nero dark:text-floral-white p-2 m-2 hover:scale-110 duration-300">
              <time datetime={post.frontmatter.pubDate} class="mx-2">
                {new Date(post.frontmatter.pubDate).toLocaleDateString(
                  "en-us",
                  {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  }
                )}
              </time>
              <a
                class="visited:text-purple-400 text-nero dark:text-floral-white"
                href={post.url}
              >
                {post.frontmatter.title}
              </a>
            </div>
          ))
        }
      </main>
    </div>
  </body>
</html>
