---
import { supabase } from "../db/supabase";
import Layout from "../layouts/Layout.astro";
import Carousel from "@/components/Carousel.jsx";
import { Skeleton } from "@/components/ui/skeleton.tsx";

// Fetch images from the 'carousel' folder
const { data: slides } = await supabase
  .from("images")
  .select("*")
  .eq("folder", "carousel");

const { data: banner } = await supabase
  .from("images")
  .select("*")
  .eq("folder", "banner")
  .eq("name", "gallery_banner");

import { Image } from "astro:assets";
import { ArrowRight } from "react-feather";
---

<Layout title="Home">
  <main>
    <section class="relative select-none">
      {
        !slides || slides.length === 0 ? (
          <Skeleton className="aspect-video" />
        ) : (
          <Carousel client:visible>
            {slides.map((s) => (
              <img src={s.url} alt={s.alt_text} />
            ))}
          </Carousel>
        )
      }
      <div
        class="absolute bottom-0 left-0 w-full h-1/2 bg-gradient-to-b from-transparent to-black"
      >
        <h1
          class="absolute inline-block text-xs font-semibold transform -translate-x-1/2 text-neutral-200 md:font-bold bottom-2 md:bottom-6 left-1/2 md:text-4xl"
        >
          satori.arw
        </h1>
      </div>
    </section>
    <section
      class="container my-12 grid grid-col-reverse md:grid-cols-2 md:py-32 place-items-center"
    >
      <div>
        <h1
          class="inline-block text-3xl font-bold text-left text-transparent md:text-5xl bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 bg-clip-text"
        >
          Hey There!
        </h1>
        <p class="pt-3 text-sm md:text-lg md:pt-6">
          I dont have much to say but I go around the world and take cool
          photos.
        </p>
        <p class="pt-2 text-sm md:text-lg">
          I also other stuff like swimming, golfing, making robots etc. And P.S
          this website was made by hand by me! No sqaure space or wordpress pure
          raw coding.
        </p>
        <p class="pt-2 text-sm md:text-lg">
          Feel free to roam around and check out my photos. If you got any
          questions just shoot one to my instagram.
        </p>

        <p class="pt-2 text-sm md:text-lg">Enjoy your stay here!</p>
        <p class="pt-4 text-sm md:text-lg">Vincent</p>
      </div>
      <div
        class="flex items-center justify-center w-full h-full mt-4 md:justify-end sm:mx-auto sm:mt-0"
      >
        <Image
          src="/pfp.jpg"
          width={256}
          height={256}
          alt="pfp"
          class="w-48 h-48 rounded-xl md:h-3/5 md:w-auto aspect-square"
        />
      </div>
    </section>
  </main>
  <section class="relative my-12 select-none">
    {
      banner && banner.length > 0 ? (
        <img
          src={banner[0].url}
          alt={banner[0].alt_text}
          class="bg-fixed aspect-[3/1] object-cover"
        />
      ) : (
        <Skeleton className="aspect-[3/1]" />
      )
    }
    <div
      class="absolute top-0 left-0 flex items-center justify-start w-full h-full px-6 bg-secondary/30 md:px-16 lg:px-24"
    >
      <a href="/gallery">
        <h1
          transition:name="gallery-title"
          class="relative py-2 text-2xl font-bold text-left duration-500 ease-out text-neutral-200 md:text-5xl lg:text-7xl hover:translate-x-4 group"
        >
          Gallery
          <span>
            <ArrowRight
              className="inline-block w-4 h-4 opacity-0 md:w-10 md:h-10 duration-500 stroke-neutral-200 md:opacity-0 md:group-hover:opacity-100 ease-out"
            />
          </span>
          <span
            class="delay-150 absolute left-0 bottom-0 w-[calc(100%-2.5rem)] md:w-[calc(100%-3rem)] h-1 bg-neutral-200 scale-x-0 group-hover:scale-x-100 origin-left transition-transform duration-700 ease-out"
          ></span>
        </h1>
      </a>
    </div>
  </section>
</Layout>
