---
import Layout from "../layouts/Layout.astro";
import Carousel from "@/components/Carousel.jsx";
import slides from "../data/carousel.json";
---

<Layout title="Home | satorishoots">
  <div class="aspect-video">
    <Carousel client:visible>
      {slides.map((s) => <img src={s.url} alt={s.alt_text} />)}
    </Carousel>
  </div>
</Layout>
