---
import { Separator } from "@/components/ui/separator";
import { InstagramIcon, CoffeeIcon, GithubIcon } from "astro-feather";
---

<footer
  class="w-5/6 h-48 pb-10 m-auto flex justify-evenly md:justify-between items-left md:items-center flex-col-reverse md:flex-row bottom-0 border-t"
>
  <div class="space-y-2 md:space-y-4">
    <div class="text-primary text-base md:text-lg font-semibold">
      ©{new Date().getFullYear()} satori.arw
    </div>
    <div
      class="flex h-5 items-center space-x-4 text-muted-foreground text-sm md:text-base"
    >
      <div>Terms</div>
      <Separator orientation="vertical" />
      <div>Privacy Policy</div>
    </div>
  </div>
  <div class="flex space-x-4 justify-start">
    <a
      class="bg-primary-foreground p-2 hover:scale-110 duration-150 hover:-rotate-12 rounded-md"
    >
      <InstagramIcon />
    </a>
    <a
      class="bg-primary-foreground p-2 hover:scale-110 duration-150 hover:rotate-12 rounded-md"
    >
      <CoffeeIcon />
    </a>
    <a
      class="bg-primary-foreground p-2 hover:scale-110 duration-150 hover:-rotate-12 rounded-md"
    >
      <GithubIcon />
    </a>
  </div>
</footer>
