---
import { Separator } from "@/components/ui/separator";
import { Instagram, Coffee, GitHub } from "react-feather";
---

<footer
  class="bottom-0 flex flex-col-reverse w-5/6 h-48 pb-12 mx-auto border-t justify-evenly md:justify-between items-left md:items-center md:flex-row"
>
  <div class="space-y-2 md:space-y-4">
    <div class="text-base font-semibold text-primary md:text-lg">
      ©{new Date().getFullYear()} satori.arw
    </div>
    <div
      class="flex items-center h-5 text-sm space-x-4 text-muted-foreground md:text-base"
    >
      <div>Terms</div>
      <Separator orientation="vertical" />
      <div>Privacy Policy</div>
    </div>
  </div>
  <div class="flex justify-start space-x-4">
    <a
      class="p-2 duration-150 rounded-md bg-primary hover:scale-110 hover:-rotate-12"
      href="https://www.instagram.com/satori.arw/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Instagram"
    >
      <Instagram className="w-5 h-5 stroke-primary-foreground md:h-6 md:w-6" />
    </a>
    <a
      class="p-2 duration-150 rounded-md bg-primary hover:scale-110 hover:rotate-12"
      href="https://github.com/vincentcayadi"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="GitHub"
    >
      <GitHub className="w-5 h-5 stroke-primary-foreground md:h-6 md:w-6" />
    </a>
  </div>
</footer>
