---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  text: string;
}
const { text, href, ...props } = Astro.props;
let isActive: boolean;
if (!href) {
  isActive = false;
} else if (href === "/") {
  isActive = href === Astro.url.pathname;
} else {
  isActive = Astro.url.pathname.includes(
    typeof href === "string" ? href : href.href
  );
}
---

<a
  class:list={[
    "font-semibold text-xs md:text-sm block py-2 px-3 hover:text-teal-200 rounded-full m-2 duration-300",
    { "text-teal-200": isActive },
    { "text-neutral-200": !isActive },
  ]}
  aria-current={isActive ? "page" : undefined}
  href={href}
  {...props}
  aria-label={`Go to ${text} page`}
>
  {text}
</a>
