---
import Link from "@/components/Link.astro";
import navigation from "@/data/navigation.json";
---

<nav
  class="fixed z-50 w-5/6 mx-auto overflow-x-auto rounded-full bottom-6 right-6 sm:overflow-x-visible max-w-min ring-1 ring-zinc-700/80 bg-zinc-800/60 sm:w-auto"
>
  <ul class="flex items-center justify-start">
    {
      navigation.map((item) => (
        <li>
          <Link {...item} />
        </li>
      ))
    }
  </ul>
</nav>
